<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股市資訊</title>

    <style>
        body {
            background-color: brown;
            text-align: center;
        }

        h1 {
            font-family: 標楷體;
        }

        .stocks {
            background-color: burlywood;
            margin: 6px auto;
            width: 300px;
            text-align: center;
            border-radius: 6px;
            border: 1px black solid;
        }
    </style>

</head>

<body>
    <h1>今年以來主要股市漲幅</h1>

    {% for data in stocks %}
    <div class="stocks">{{data[0]}},{{data[1]}}</div>
    {% endfor %}
    <!-- {{stocks}} -->
</body>

</html>